


<div class="page-wrapper d-flex flex-column">
    <main class="flex-grow-1">
        <footer class="footer bg-dark text-white py-3 text-center">
            <div class="container">
                &copy; Ramana Reddy | Born on 16/06/2004 — 
                <a href="https://www.instagram.com/?hl=en" target="_blank" class="text-info">Click Me</a>
                <div class="mt-2">
                    <a href="https://facebook.com" target="_blank" class="text-white mx-2 fs-5"><i class="fab fa-facebook"></i></a>
                    <a href="https://instagram.com" target="_blank" class="text-white mx-2 fs-5"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white mx-2 fs-5"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </footer>
    </main>

 
</div>
