<app-header>

</app-header>
<section id="news">
    <div class="container">
        <div class="title text-center">
            <h1>Coursess we offered</h1>
            <p>Speed up the loan process</p>
        </div>
        <div class="row">
            <div class="col col-md-3 col-sm-6 col-12" *ngFor="let course of coursess">
                <div class="card">
                    <img [src]="course.img" alt="" height="200px">
                    <h3 class="card-title  text-danger">{{course.title}}</h3>
                    <p class="card-text">{{course.paragraph}}</p>
                    <button class="btn btn-success w-50">fee {{course.fees}}/-</button>
                    <button class="btn btn-info mx-2 w-25">{{course.duration}}</button>
                    <button class="btn btn-danger w-50" (click)="getCourse('Angular is the best language')">{{course.more}}</button>
                </div>
            </div>
        </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
    </div>
  


    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12 mb-4 mb-lg-0">
                <h2>{{ featuredCourse.title }}</h2>
                <p>{{ featuredCourse.content }}</p>
                <a href="#" class="btn btn-primary">Explore More</a>
            </div>
            <div class="col-lg-4 col-md-12">
                <img [src]="featuredCourse.imageUrl" class="img-fluid rounded" alt="Featured Course Image">
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>