
table{
    margin-bottom: 160px;
}
.about-banner {
    padding : 100px 0;
}

.card img{
    height: 300px;
}
.card img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.card-title{
    font-size: 40px;
    font-weight: bold;
}