<app-header></app-header>

<!--Banner Section-->
<section class="about-banner text-center text-white position-relative" 
         style="background: url('../images/judo.png')  center/cover no-repeat;" width="100%" height="400px">
  <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5);"></div>
  <div class="container position-relative">
    <h1 class="display-4">About Me</h1>
    <p class="lead">Learn more about my Educution, certificates, Projects.</p>
  </div>
</section>

<!-- Education Section -->
<section class="m-3">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-4">Educution</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <div class="card bg-danger text-white text-center h-100">
        <div class="card-body">
          <h2 class="card-title"><strong><i class="fa-solid fa-graduation-cap"> MCA</i></strong></h2>
          <p class="card-text"> <strong> College Address : </strong> <br>I have completed my Post Graduation in Master Of Computer Application from New Horizon College Of Engineering in Bengaluru, Karnataka, India which is offlitated by Visveswara Technological University. During my studies, I focused on web development and software engineering.</p>
          <p class="card-text"> <strong>Percentage : </strong> <br> 67%</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card bg-danger text-white text-center h-100">
        <div class="card-body">
          <h2 class="card-title"><strong><i class="fa-solid fa-graduation-cap"> BSC</i></strong></h2>
           <p class="card-text"> <strong> College Address : </strong> <br>I have completed my Under Graduation in Computer Science from Vasavi Degree College in Narasaraopet, Andhra Pradesh, India which is offlitated by Acharya Nagarjuna University.</p>
          <p class="card-text"> <strong>Percentage : </strong> <br> 81%</p>        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card bg-danger text-white text-center h-100">
        <div class="card-body">
          <h2 class="card-title"><strong><i class="fa-solid fa-graduation-cap"> PUC</i></strong></h2>
          <p class="card-text"> <strong> College Address : </strong> <br> I have completed my Pre University College from Vikas Junior College. During my studies, I focused on Communication.</p>
          <p class="card-text"> <strong>Percentage : </strong> <br> 71%</p>       

        </div>
      </div>

    </div>
  </div>
</section>

<!-- Certificates Section -->
<section id="news">
    <div class="container">
        <div class="title text-center">
            <h1>Certificates</h1>
            <p>My Achivements in my carrer</p>
        </div>
        <div class="row">
            <div class="col col-sm-6 col-12" *ngFor="let course of coursess">
                <div class="card mb-3">
                    <img [src]="course.img" alt="" height="200px">
                    <h3 class="card-title  text-danger px-3">{{course.title}}</h3>
                    <p class="card-text px-3">{{course.paragraph}}</p>
                    <p class="card-text px-3"><strong>Duration :</strong> {{course.Duration}}</p>
                    <p class="card-text px-3"><strong>Issued :</strong> {{course.issued}}</p> 
                    <p class="card-text px-3"><strong>ID :</strong> {{course.Id}}</p>
                    <p class="card-text px-3"><strong>Issued At/By :</strong> {{course.IssuedAt}}{{course.IssuedBy}}</p>
                </div>
            </div>
        </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
    </div>
  
  
</section>

<app-footer></app-footer>