<!--<app-header></app-header>-->

<section class="mb-5" >
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100 mt-3 ">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card card-body">

              <div class=" m-3 text-end">
                <button class="btn btn-info text-white"><a href="/login">Log In</a></button>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 ">
  
                  <form class="mx-1 mx-md-4" #regForm="ngForm">
  
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4cd"> First Name</label>
                      <input type="text" class="form-control" placeholder="First Name" name="fname" [(ngModel)]="student.fname" />
                     
                    </div>
  
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4cd"><span class="text-danger">*</span> Last Name</label>
                      <input type="text" class="form-control" placeholder="Last Name" name="lname" [(ngModel)]="student.lname" required #lname="ngModel"/>
                      <p class="text-danger fw-bold" *ngIf="lname.touched && lname.invalid">Enter your last name</p>
                    </div>
                    
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4cd"><span class="text-danger">*</span> phone</label>
                      <input type="text" class="form-control" placeholder="phone" name="phone" [(ngModel)]="student.phone" required #phone="ngModel"/>

                      <p class="text-danger fw-bold" *ngIf="phone.touched && phone.invalid">Enter your last name</p>
                     </div>
                    
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4cd"><span class="text-danger">*</span> Email</label>
                      <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="student.email" required #email = "ngModel"/>
                      <p class="text-danger fw-bold" *ngIf="email.touched && email.invalid">Enter your last name</p>
                    </div>

                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4cd"><span class="text-danger">*</span> your password</label>
                      <input type="password" class="form-control" placeholder="your password" name="password" [(ngModel)]="student.password" required #password = "ngModel">
                      <p class="text-danger fw-bold" *ngIf="password.touched && password.invalid">Enter your last name</p>
                    </div>
  
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4cd"><span class="text-danger">*</span> Repeat your password</label>
                      <input type="password" class="form-control" placeholder="Retype your password" name="cpassword" [(ngModel)]="student.cpassword" required #cpassword="ngModel"/>
                      <p class="text-danger fw-bold" *ngIf="cpassword.touched && cpassword.invalid">Enter your last name</p>
                    </div>
  
                    <div class="form-check d-flex justify-content-center ">
                      <label class="form-check-label" for="form2Example3">
                        You alredy Registerd <a routerLink="/login"><strong>Login</strong></a>
                      </label>
                    </div>
  
                    
                    <p class="fw-bold" [ngClass]="clr"> {{msg}}</p>
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" (click) = "reg()" [disabled]="regForm.invalid">Register</button>
                      
                    
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center mt-3">
    <h1>The Form validation is end</h1>
  </div>
<app-footer></app-footer>