<!--<app-header></app-header>-->
<div class=" class container-flex bg-success">
    <div class="">
        <h2 class="text-center text-white"> Login form </h2>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 mx-auto">
            <div class="card shadow-lg p-5 text-white mb-4">
                <div>
                    <button class="btn btn-info text-white float-end"><a href="/regester"> Regester</a></button>
                </div>
                <form class="p-3 " action="/action_page.php" (submit)="login()" [formGroup]="data1">
                    <div class="mb-3 mt-3">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" formControlName = "email" required [ngClass]="submited && form.email.errors ? 'birer border-danger' : ''">
                        <p class="text-danger fw-bold" *ngIf="submited && form.email.errors">Enter email</p>
                    </div>
                    <div class="mb-3">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" formControlName = "password" required [ngClass]="submited && form.password.errors ?  'birer border-danger': ''">
                        <p class="text-danger fw-bold" *ngIf="submited && form.password.errors">Enter password</p>
                    </div>
                    <div class="form-check mb-3 ">
                        <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"> Remember me
                        </label>
                    </div>
                    <p>If you don't have account<a href="/regester">&nbsp; <span class="bg-danger text-white">Regester</span></a></p>
                    
                    <p class="fw-bold" [ngClass]="clr">{{msg}}</p>
                    <button type="submit" class="btn btn-info" [disabled]="data1.invalid " > <a href="/home">Submit</a> </button>
                </form>
            </div>
        </div>

    </div>
</div>

  