<app-header></app-header>
 
<section class=" text-light py-5">
  <div class="container">
    <div class="row align-items-center">

      <!-- Text Section -->
      
      <div class="col col-lg-6 col-12 mb-4 mb-lg-0">
        <div class="text">
        <div class="p-3">
          <p class="text-warning mb-1">Hello, it's me</p>
          <h2 class="text-light fw-bold mb-3">Naru Ramana Reddy</h2>
          <h4 class="text-info mb-4"> <strong class="text-warning fw-bold">I'm </strong> <br> A Full Stack Developer</h4>
          <p>
            I specialize in managing both frontend and backend development, including databases. I can build responsive login and registration pages, and much more.
            <br><strong>My motto:</strong> “It's not about how much you have, it's about how much you give.”
          </p>

          <!-- Contact Details -->
          
        </div>
      </div>
      </div>

      <!-- Image Section -->
      
      <div class="col-lg-6 col-12 text-center">
        <div class="image">
          <div class="circle-img">
            <img src="../images/ramana-min.jpeg" alt="Ramana Reddy" class="img-fluid rounded-circle shadow" style="width: 250px; height: 250px; object-fit: cover;">
          </div>
        </div>
      </div>

    </div>
  </div>
  
</section>
<app-footer></app-footer>


<!-- Optional CSS Styles -->


